<%- include('../layout/head.ejs') %>
    </head>

    <body>
        <%- include ('../layout/navbar.ejs') %>
            <button>
                <a href="/admin/add-product"> Go To Add Product</a>
            </button>
            <%- include ('../layout/tail.ejs') %>