<%- include('../layout/head.ejs') %>
    </head>

    <body>
        <%- include ('../layout/navbar.ejs') %>
            <button>
                <a href="/shop"> Bhubaneswar</a>
            </button>
            <%- include ('../layout/tail.ejs') %>