<%- include('../layout/head') %>
    <link rel="stylesheet" href="shop.css">

    </head>

    <body>
        <%- include('../layout/navbar') %>
            <h3>
                Order Page
            </h3>

            <%- include('../layout/tail') %>