<%- include('./Layouts/head.ejs') %>
    </head>

    <body>
        <%- include ('./Layouts/navbar.ejs') %>
            <button>
                <a href="/shop"> Bhubaneswar</a>
            </button>
            <%- include ('./Layouts/tail.ejs') %>