extends Layouts/main-layout

block styles
    link(rel="stylesheet", href="/admin.css")
block content
    h3 In Admin Page 
    br
    form(action='/products', method='POST')
        input(type='text', name='productName')
        button(type='submit') Add        










//- doctype html
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(http-equiv="X-UA-Compatible", content="IE=edge")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         title #{title}
//-     body
//-         nav
//-             ul
//-                 li
//-                     a(href="/") Home
//-                 li
//-                     a(href="/user") User
//-         h3 In Admin Page 
//-         br
//-         form(action='/products', method='POST')
//-             input(type='text', name='productName')
//-             button(type='submit') Add
