<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>
        <%= pageTitle %>
    </title>
    <style>
        button{
            background-color: crimson;
            border-radius: 4px;
            color: #fff;
            margin-top: 10px;
            min-width: 70px;
        }
        input{
            border-radius: 4px;
        }
        
    </style>