<%- include('layout/head') %>

    </head>

    <body>
        <%- include('layout/navbar') %>
            <h3>
                Sorry 😔, The Page is Unavailable
            </h3>

            <%- include('layout/tail') %>