<%- include('../layouts/head') %>
    <link rel="stylesheet" href="shop.css">

    </head>


        <%- include('../layouts/navigation') %>
            <h3>
                Checkout Page
            </h3>

            <%- include('../layouts/tail') %>