<%- include('./layouts/head.ejs') %>
    </head>

    <body>
        <%- include('./layouts/navigation') %>
        <h2  style="color: blueviolet;">Sorry something went wrong! We are unable to proceed</h2>
            <h3>
                Sorry 😔, The Page is Unavailable
            </h3>
            <%- include('./layouts/tail') %>