<!doctype html>
<html lang="en">
  <head>
    <title>User Page</title>
    <link rel="stylesheet" href="css/header.css" />
  </head>

  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a href="/user">Shop</a></li>
          <li class="main-header__item">
            <a href="admin/add-product">Add Products</a>
          </li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>My Products</h1>
      <p>List of products</p>
    </main>
  </body>
</html>
