<%- include('./layouts/head.ejs') %>
    <link rel="stylesheet" href="/style.css">

    </head>

    <body>

        <div class="index-button-container">
            <div class="container">
                <a href="/admin"> <button class="centered-button">Admin</button> </a>
                <a href="/shop"> <button class="centered-button">Shop</button> </a>
            </div>
        </div>
        <%- include('./layouts/tail') %>