<%- include('../layout/head') %>

    </head>

    <body>
        <%- include('../layout/navbar') %>
            <h3>
                Cart Page
            </h3>

            <%- include('../layout/tail') %>