<%- include('../layouts/head.ejs') %>
    </head>

    <body>
        <%- include ('../layouts/navigation.ejs') %>
            <button>
                <a href="/admin/add-product"> Go To Add Product</a>
            </button>
            <%- include ('../layouts/tail.ejs') %>